<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Card-1</title>
</head>

<body>
    <div class="card-container">
        <div class="card">
            <img src="example.png" alt="Example" class="card-img">
            <div class="card-content">
                <h3 class="card-title">
                    Lorem ipsum dolor sit amet
                </h3>
                <p class="card-description">
                    Lorem ipsum dolor sit amet
                </p>
                <button class="card-btn">
                    Click
                </button>
            </div>
        </div>
        <div class="card">
            <img src="example.png" alt="Example" class="card-img">
            <div class="card-content">
                <h3 class="card-title">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus nostrum, eaque ab ipsam maxime
                    dolorum, hic obcaecati fugiat deserunt quae quam esse dolores! Recusandae quod repellendus totam
                    aliquid, nisi minima.
                </h3>
                <p class="card-description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit ipsum corrupti quasi id
                    facere blanditiis iure hic sunt libero, minima sapiente quia inventore eaque dignissimos rerum porro
                    enim repudiandae deleniti!
                </p>
                <button class="card-btn">
                    Click
                </button>
            </div>
        </div>
        <div class="card">
            <img src="example.png" alt="Example" class="card-img">
            <div class="card-content">
                <h3 class="card-title">
                    Lorem ipsum dolor sit amet
                </h3>
                <p class="card-description">
                    Lorem ipsum dolor sit amet
                </p>
                <button class="card-btn">
                    Click
                </button>
            </div>
        </div>
    </div>
</body>

</html>