<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <form>
        <h1>Registrate</h1>
        <div class="input">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="input">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="input">
            <label for="number">Number</label>
            <input type="number" name="number" id="number">
        </div>
        <div class="input">
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="date" id="date">
        </div>
        <div class="input">
            <label for="email_check">Want to receive emails?</label>
            <div class="checkbox">
                <input type="radio" id="yes" name="email_check" value="yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="email_check" value="no">
                <label for="no">No</label>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>