<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>form-1</title>
</head>

<body>
    <form>
        <h1>Registrate</h1>
        <div class="input">
            <label for="username">Nombre de Usuario</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="input">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="input">
            <label for="number">Numero de Celular</label>
            <input type="number" name="number" id="number">
        </div>
        <div class="input">
            <label for="date">Fecha de Nacimiento</label>
            <input type="date" name="date" id="date">
        </div>
        <div class="input">
            <label for="email_check">¿Quieres recibir notificaciones por correo?</label>
            <div class="checkbox">
                <input type="radio" id="yes" name="email_check" value="yes">
                <label for="yes">Si</label>
                <input type="radio" id="no" name="email_check" value="no">
                <label for="no">No</label>
            </div>
        </div>

        <button type="submit">Enviar</button>
    </form>
</body>

</html>