<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar-1</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="navbar-container">
            <div class="logo">
                <h1>Logo</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#about">Inicio</a></li>
                <li><a href="#productos">Productos</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#">Acerca</a></li>
            </ul>
            <div class="nav-btn">
                <button>Entrar</button>
            </div>
        </nav>
    </header>
    <main>
        <section class="section-a" id="about"></section>
        <section class="section-b" id="productos"></section>
        <section class="section-c" id="blog"></section>
    </main>
</body>

</html>